<div class="app-navbar">
    <div class="app-header-nav">
        <span class="title-nav">
            Template Việt
        </span>
    </div>
    <div class="app-navbar-list">
        <!-- <div class="app-navbar-item">
                <mat-icon>{{item.icon}}</mat-icon>
            </div> -->
        <mat-selection-list class="app-navbar-item" #shoes [multiple]="false">
            <mat-list-option *ngFor="let item of listNav" [value]="item.name" [routerLink]="item.url">
                <mat-icon>{{item.icon}}</mat-icon>
                <span>{{item.name}}</span>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>